EXPO_PUBLIC_SUPABASE_URL=https://lgvlkfmbielktvbppotf.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxndmxrZm1iaWVsa3R2YnBwb3RmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3NjczMzUsImV4cCI6MjA4ODM0MzMzNX0.IZS4SkkfvtqRD3RftikQBju6Eanpg3rJCgV6JUNuWKU